@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	//ViewBag.Title = "Tutoriais";
	ViewData["Title"] = "Tutoriais";
}

<h1>  Olá, seja bem-vindo aos tutoriais de ASP.NET Core MVC!</h1>
<h2> Aqui você encontrará uma variedade de tutoriais para ajudá-lo a aprender e dominar o desenvolvimento web com ASP.NET Core MVC. </h2>
